kodi/dialogflow.json
[
	{
		"id": "354e5ecd.3bc0e2",
		"type": "intent-switch",
		"z": "4a5339ba.514388",
		"name": "",
		"x": 311,
		"y": 255,
		"wires": [
			[
				"9f9f2357.4df3f",
				"326dd6d7.22c7ea",
				"147a0f9c.d71e8",
				"8d27889c.eb1088",
				"4c9db14.a01555",
				"6a3f93bf.10af0c",
				"59027c48.fd06a4",
				"d90f627f.abdd2",
				"cc65ccef.1b0aa"
			]
		]
	},
	{
		"id": "bb88d972.e0b478",
		"type": "actions-serialize",
		"z": "4a5339ba.514388",
		"name": "",
		"x": 1610,
		"y": 315,
		"wires": [
			[
				"fc78bd93.256b1"
			]
		]
	},
	{
		"id": "fc78bd93.256b1",
		"type": "http response",
		"z": "4a5339ba.514388",
		"name": "",
		"statusCode": "",
		"headers": {},
		"x": 1750,
		"y": 315,
		"wires": []
	},
	{
		"id": "179c3eee.dfae21",
		"type": "http in",
		"z": "4a5339ba.514388",
		"name": "",
		"url": "/dialogflow",
		"method": "post",
		"upload": false,
		"swaggerDoc": "",
		"x": 121,
		"y": 255,
		"wires": [
			[
				"354e5ecd.3bc0e2"
			]
		]
	},
	{
		"id": "4c9db14.a01555",
		"type": "intent",
		"z": "4a5339ba.514388",
		"intentName": "search-title",
		"x": 544,
		"y": 375,
		"wires": [
			[
				"67bdded5.ec9cd"
			]
		]
	},
	{
		"id": "147a0f9c.d71e8",
		"type": "intent",
		"z": "4a5339ba.514388",
		"intentName": "browse-filter",
		"x": 550,
		"y": 220,
		"wires": [
			[
				"dd65bdb.354a94"
			]
		]
	},
	{
		"id": "6a3f93bf.10af0c",
		"type": "intent",
		"z": "4a5339ba.514388",
		"intentName": "browse-genre",
		"x": 554,
		"y": 315,
		"wires": [
			[
				"187a4262.823f5e"
			]
		]
	},
	{
		"id": "730fb62f.bfff88",
		"type": "simple-response",
		"z": "4a5339ba.514388",
		"name": "",
		"text": "Okay",
		"speech": "",
		"suggestions": "",
		"x": 1390,
		"y": 480,
		"wires": [
			[
				"bb88d972.e0b478"
			]
		]
	},
	{
		"id": "8d27889c.eb1088",
		"type": "intent",
		"z": "4a5339ba.514388",
		"intentName": "play",
		"x": 530,
		"y": 520,
		"wires": [
			[
				"48c2da1.c747124"
			]
		]
	},
	{
		"id": "9f9f2357.4df3f",
		"type": "change",
		"z": "4a5339ba.514388",
		"name": "Set device",
		"rules": [
			{
				"t": "set",
				"p": "player",
				"pt": "flow",
				"to": "msg.payload.queryResult.parameters.player",
				"tot": "msg"
			}
		],
		"action": "",
		"property": "",
		"from": "",
		"to": "",
		"reg": false,
		"x": 530,
		"y": 180,
		"wires": [
			[]
		]
	},
	{
		"id": "326dd6d7.22c7ea",
		"type": "change",
		"z": "4a5339ba.514388",
		"name": "Set media",
		"rules": [
			{
				"t": "set",
				"p": "player",
				"pt": "flow",
				"to": "payload.queryResult.parameters.player",
				"tot": "msg"
			}
		],
		"action": "",
		"property": "",
		"from": "",
		"to": "",
		"reg": false,
		"x": 530,
		"y": 140,
		"wires": [
			[]
		]
	},
	{
		"id": "6af13526.1c2e3c",
		"type": "kodi-out",
		"z": "4a5339ba.514388",
		"name": "",
		"controller": "b774da3d.4d57f8",
		"unit_number": "1",
		"output": "1",
		"kodicommand": "",
		"x": 895,
		"y": 520,
		"wires": [
			[
				"e6656fb1.68d0a"
			]
		]
	},
	{
		"id": "48c2da1.c747124",
		"type": "template",
		"z": "4a5339ba.514388",
		"name": "Search",
		"field": "payload",
		"fieldType": "msg",
		"format": "handlebars",
		"syntax": "mustache",
		"template": "{\n\t\"cmd\": \"Files.GetDirectory\",\n\t\"params\": {\n\t\t\"properties\": [\n\t\t\t\"title\",\n\t\t\t\"genre\",\n\t\t\t\"year\",\n\t\t\t\"rating\",\n\t\t\t\"runtime\",\n\t\t\t\"plot\",\n\t\t\t\"file\",\n\t\t\t\"art\",\n\t\t\t\"sorttitle\",\n\t\t\t\"originaltitle\"\n\t\t],\n\t\t\"directory\": \"plugin://plugin.video.seren/?action=moviesSearchResults&actionArgs={{{payload.queryResult.parameters.title}}}\",\n\t\t\"media\": \"files\"\n\t},\n\t\"id\": 1\n}\n\n\n",
		"output": "json",
		"x": 725,
		"y": 520,
		"wires": [
			[
				"6af13526.1c2e3c",
				"3f08923e.becdee"
			]
		]
	},
	{
		"id": "e6656fb1.68d0a",
		"type": "template",
		"z": "4a5339ba.514388",
		"name": "Play",
		"field": "payload",
		"fieldType": "msg",
		"format": "handlebars",
		"syntax": "mustache",
		"template": "{\n\t\"cmd\": \"Player.Open\",\n\t\"params\": {\n\t\t\"item\": {\n\t\t\t\"file\": \"{{{payload.files.0.file}}}\"\n\t\t}\n\t}\n}",
		"output": "json",
		"x": 1030,
		"y": 520,
		"wires": [
			[
				"151342c4.fdd43d"
			]
		]
	},
	{
		"id": "67bdded5.ec9cd",
		"type": "template",
		"z": "4a5339ba.514388",
		"name": "Search",
		"field": "payload",
		"fieldType": "msg",
		"format": "handlebars",
		"syntax": "mustache",
		"template": "{\n\t\"cmd\": \"GUI.ActivateWindow\",\n\t\"args\": {\n\t\t\t\"window\": \"videos\",\n\t\t\t\"parameters\": [\n\t\t\t\t\"plugin://plugin.video.seren/?action=moviesSearchResults&actionArgs={{{payload.queryResult.parameters.title}}}\"\n\t\t\t]\n\n\t}\n}\n\n\n\n",
		"output": "json",
		"x": 1034,
		"y": 375,
		"wires": [
			[
				"151342c4.fdd43d",
				"5dbc2f71.b0c1d"
			]
		]
	},
	{
		"id": "187a4262.823f5e",
		"type": "template",
		"z": "4a5339ba.514388",
		"name": "Browse",
		"field": "payload",
		"fieldType": "msg",
		"format": "handlebars",
		"syntax": "mustache",
		"template": "{\n\t\"cmd\": \"GUI.ActivateWindow\",\n\t\"args\": {\n\t\t\t\"window\": \"videos\",\n\t\t\t\"parameters\": [\n\t\t\t\t\"plugin://plugin.video.seren/?action=movieGenresGet&actionArgs={{{msg.payload.queryResult.parameters.genre}}}\"\n\t\t\t]\n\n\t}\n}\n\n\n",
		"output": "json",
		"x": 1034,
		"y": 315,
		"wires": [
			[
				"151342c4.fdd43d",
				"7d585e1a.97369"
			]
		]
	},
	{
		"id": "151342c4.fdd43d",
		"type": "kodi-out",
		"z": "4a5339ba.514388",
		"name": "",
		"controller": "b774da3d.4d57f8",
		"unit_number": "1",
		"output": "1",
		"kodicommand": "",
		"x": 1230,
		"y": 100,
		"wires": [
			[]
		]
	},
	{
		"id": "dd65bdb.354a94",
		"type": "switch",
		"z": "4a5339ba.514388",
		"name": "",
		"property": "payload.queryResult.parameters.filter",
		"propertyType": "msg",
		"rules": [
			{
				"t": "eq",
				"v": "recommended",
				"vt": "str"
			},
			{
				"t": "eq",
				"v": "popular",
				"vt": "str"
			},
			{
				"t": "eq",
				"v": "trending",
				"vt": "str"
			},
			{
				"t": "eq",
				"v": "latest",
				"vt": "str"
			}
		],
		"checkall": "true",
		"repair": false,
		"outputs": 4,
		"x": 750,
		"y": 220,
		"wires": [
			[
				"6d2640f7.39e71"
			],
			[
				"407fdd3e.9ad744"
			],
			[
				"48decdb9.335b44"
			],
			[
				"4a286b6c.498bb4"
			]
		]
	},
	{
		"id": "4a286b6c.498bb4",
		"type": "template",
		"z": "4a5339ba.514388",
		"name": "Latest",
		"field": "payload",
		"fieldType": "msg",
		"format": "handlebars",
		"syntax": "mustache",
		"template": "{\n\t\"cmd\": \"GUI.ActivateWindow\",\n\t\"args\": {\n\t\t\t\"window\": \"videos\",\n\t\t\t\"parameters\": [\n\t\t\t\t\"plugin://plugin.video.seren/?action=moviesUpdated&page=1\"\n\t\t\t]\n\n\t}\n}\n",
		"output": "json",
		"x": 1046,
		"y": 260,
		"wires": [
			[
				"151342c4.fdd43d",
				"2dee0e34.b4d522"
			]
		]
	},
	{
		"id": "48decdb9.335b44",
		"type": "template",
		"z": "4a5339ba.514388",
		"name": "Trending",
		"field": "payload",
		"fieldType": "msg",
		"format": "handlebars",
		"syntax": "mustache",
		"template": "{\n\t\"cmd\": \"GUI.ActivateWindow\",\n\t\"args\": {\n\t\t\t\"window\": \"videos\",\n\t\t\t\"parameters\": [\n\t\t\t\t\"plugin://plugin.video.seren/?action=moviesTrending&page=1\"\n\t\t\t]\n\n\t}\n}\n",
		"output": "json",
		"x": 1037,
		"y": 225,
		"wires": [
			[
				"151342c4.fdd43d",
				"2dee0e34.b4d522"
			]
		]
	},
	{
		"id": "407fdd3e.9ad744",
		"type": "template",
		"z": "4a5339ba.514388",
		"name": "Popular",
		"field": "payload",
		"fieldType": "msg",
		"format": "handlebars",
		"syntax": "mustache",
		"template": "{\n\t\"cmd\": \"GUI.ActivateWindow\",\n\t\"args\": {\n\t\t\t\"window\": \"videos\",\n\t\t\t\"parameters\": [\n\t\t\t\t\"plugin://plugin.video.seren/?action=moviesPopular&page=1\"\n\t\t\t]\n\n\t}\n}\n",
		"output": "json",
		"x": 1039,
		"y": 191,
		"wires": [
			[
				"151342c4.fdd43d",
				"2dee0e34.b4d522"
			]
		]
	},
	{
		"id": "59027c48.fd06a4",
		"type": "intent",
		"z": "4a5339ba.514388",
		"intentName": "search-actor",
		"x": 550,
		"y": 480,
		"wires": [
			[
				"8ed97e85.61c46"
			]
		]
	},
	{
		"id": "d90f627f.abdd2",
		"type": "intent",
		"z": "4a5339ba.514388",
		"intentName": "status",
		"x": 530,
		"y": 580,
		"wires": [
			[
				"431d99c0.a4f298"
			]
		]
	},
	{
		"id": "37a11955.fa5fb6",
		"type": "function",
		"z": "4a5339ba.514388",
		"name": "Prepare output",
		"func": "var title = msg.payload.result.item.title;\nvar item;\nvar payload;\n\nif (title === \"\") {\n    title = \"Nothing is playing right now\";\n} else {\n    title = title + \" is playing right now\";\n}\n\nmsg.simpleresponse = {};\nmsg.simpleresponse.text = title;\nmsg.simpleresponse.title = title;\nreturn msg;\n\n",
		"outputs": 1,
		"noerr": 0,
		"x": 1060,
		"y": 580,
		"wires": [
			[
				"afa9d5a5.ab1ba8"
			]
		]
	},
	{
		"id": "431d99c0.a4f298",
		"type": "template",
		"z": "4a5339ba.514388",
		"name": "Status",
		"field": "payload",
		"fieldType": "msg",
		"format": "handlebars",
		"syntax": "mustache",
		"template": "{\n\t\"cmd\": \"Player.GetItem\",\n\t\"params\": {\n\t\t\"properties\": [\n\t\t\t\"title\",\n\t\t\t\"album\",\n\t\t\t\"artist\",\n\t\t\t\"season\",\n\t\t\t\"episode\",\n\t\t\t\"duration\",\n\t\t\t\"showtitle\",\n\t\t\t\"tvshowid\",\n\t\t\t\"thumbnail\",\n\t\t\t\"file\",\n\t\t\t\"fanart\",\n\t\t\t\"streamdetails\"\n\t\t],\n\t\t\"playerid\": 1\n\t},\n\t\"id\": \"VideoGetItem\"\n}",
		"output": "json",
		"x": 710,
		"y": 580,
		"wires": [
			[
				"d8ed0f49.a9d84"
			]
		]
	},
	{
		"id": "d8ed0f49.a9d84",
		"type": "kodi-out",
		"z": "4a5339ba.514388",
		"name": "",
		"controller": "b774da3d.4d57f8",
		"unit_number": "1",
		"output": "1",
		"kodicommand": "",
		"x": 894,
		"y": 580,
		"wires": [
			[
				"37a11955.fa5fb6"
			]
		]
	},
	{
		"id": "afa9d5a5.ab1ba8",
		"type": "simple-response",
		"z": "4a5339ba.514388",
		"name": "",
		"text": "Okay",
		"speech": "Okay",
		"suggestions": "",
		"x": 1384,
		"y": 579,
		"wires": [
			[
				"bb88d972.e0b478"
			]
		]
	},
	{
		"id": "8ed97e85.61c46",
		"type": "template",
		"z": "4a5339ba.514388",
		"name": "Search",
		"field": "payload",
		"fieldType": "msg",
		"format": "handlebars",
		"syntax": "mustache",
		"template": "{\n\t\"cmd\": \"GUI.ActivateWindow\",\n\t\"args\": {\n\t\t\t\"window\": \"videos\",\n\t\t\t\"parameters\": [\n\t\t\t\t\"plugin://plugin.video.seren/?action=movieByActor&actionArgs={{{payload.queryResult.parameters.actor}}}\"\n\t\t\t]\n\n\t}\n}",
		"output": "json",
		"x": 1040,
		"y": 480,
		"wires": [
			[
				"151342c4.fdd43d",
				"730fb62f.bfff88"
			]
		]
	},
	{
		"id": "6d2640f7.39e71",
		"type": "template",
		"z": "4a5339ba.514388",
		"name": "Recommended",
		"field": "payload",
		"fieldType": "msg",
		"format": "handlebars",
		"syntax": "mustache",
		"template": "{\n\t\"cmd\": \"GUI.ActivateWindow\",\n\t\"args\": {\n\t\t\t\"window\": \"videos\",\n\t\t\t\"parameters\": [\n\t\t\t\t\"plugin://plugin.video.seren/?action=moviesRecommended&page=1\"\n\t\t\t]\n\n\t}\n}\n",
		"output": "json",
		"x": 1023,
		"y": 156,
		"wires": [
			[
				"151342c4.fdd43d",
				"2dee0e34.b4d522"
			]
		]
	},
	{
		"id": "3f08923e.becdee",
		"type": "simple-response",
		"z": "4a5339ba.514388",
		"name": "",
		"text": "Okay",
		"speech": "Okay",
		"suggestions": "",
		"x": 1390,
		"y": 520,
		"wires": [
			[
				"bb88d972.e0b478"
			]
		]
	},
	{
		"id": "5dbc2f71.b0c1d",
		"type": "simple-response",
		"z": "4a5339ba.514388",
		"name": "",
		"text": "Okay",
		"speech": "Okay",
		"suggestions": "",
		"x": 1390,
		"y": 376,
		"wires": [
			[
				"bb88d972.e0b478"
			]
		]
	},
	{
		"id": "2dee0e34.b4d522",
		"type": "simple-response",
		"z": "4a5339ba.514388",
		"name": "",
		"text": "Okay",
		"speech": "Okay",
		"suggestions": "",
		"x": 1383,
		"y": 200,
		"wires": [
			[
				"bb88d972.e0b478"
			]
		]
	},
	{
		"id": "7d585e1a.97369",
		"type": "simple-response",
		"z": "4a5339ba.514388",
		"name": "",
		"text": "Okay",
		"speech": "Okay",
		"suggestions": "",
		"x": 1390,
		"y": 317,
		"wires": [
			[
				"bb88d972.e0b478"
			]
		]
	},
	{
		"id": "cc65ccef.1b0aa",
		"type": "intent",
		"z": "4a5339ba.514388",
		"intentName": "browse-title",
		"x": 550,
		"y": 420,
		"wires": [
			[
				"255a47c6.1c1d38"
			]
		]
	},
	{
		"id": "255a47c6.1c1d38",
		"type": "template",
		"z": "4a5339ba.514388",
		"name": "Search",
		"field": "payload",
		"fieldType": "msg",
		"format": "handlebars",
		"syntax": "mustache",
		"template": "{\n\t\"cmd\": \"Files.GetDirectory\",\n\t\"params\": {\n\t\t\"properties\": [\n\t\t\t\"title\",\n\t\t\t\"genre\",\n\t\t\t\"year\",\n\t\t\t\"rating\",\n\t\t\t\"runtime\",\n\t\t\t\"plot\",\n\t\t\t\"file\",\n\t\t\t\"art\",\n\t\t\t\"sorttitle\",\n\t\t\t\"originaltitle\"\n\t\t],\n\t\t\"directory\": \"plugin://plugin.video.seren/?action=moviesSearchResults&actionArgs={{{payload.queryResult.parameters.title}}}\",\n\t\t\"media\": \"files\"\n\t},\n\t\"id\": 1\n}\n\n\n",
		"output": "json",
		"x": 720,
		"y": 420,
		"wires": [
			[
				"5495b75b.2ee628",
				"d7cd0f50.55925"
			]
		]
	},
	{
		"id": "5495b75b.2ee628",
		"type": "kodi-out",
		"z": "4a5339ba.514388",
		"name": "",
		"controller": "b774da3d.4d57f8",
		"unit_number": "1",
		"output": "1",
		"kodicommand": "",
		"x": 870,
		"y": 420,
		"wires": [
			[
				"f1380c3d.18dc2"
			]
		]
	},
	{
		"id": "f1380c3d.18dc2",
		"type": "template",
		"z": "4a5339ba.514388",
		"name": "Show",
		"field": "payload",
		"fieldType": "msg",
		"format": "handlebars",
		"syntax": "mustache",
		"template": "{\n\t\"cmd\": \"GUI.ActivateWindow\",\n\t\"args\": {\n\t\t\t\"window\": \"videos\",\n\t\t\t\"parameters\": [\n\t\t\t\t\"plugin://script.extendedinfo?info=extendedinfo&&id={{{payload.files.0.uniqueid.tmdb}}}\"\n\t\t\t]\n\n\t}\n}\n",
		"output": "json",
		"x": 1030,
		"y": 420,
		"wires": [
			[
				"151342c4.fdd43d"
			]
		]
	},
	{
		"id": "d7cd0f50.55925",
		"type": "simple-response",
		"z": "4a5339ba.514388",
		"name": "",
		"text": "Okay",
		"speech": "Okay",
		"suggestions": "",
		"x": 1390,
		"y": 420,
		"wires": [
			[
				"bb88d972.e0b478"
			]
		]
	},
	{
		"id": "b774da3d.4d57f8",
		"type": "kodi-controller",
		"z": "",
		"name": "Living room Kodi",
		"host": "192.168.1.105",
		"port": "9090"
	}
]