kodi/dialogflow.json
[
	{
		"id": "354e5ecd.3bc0e2",
		"type": "intent-switch",
		"z": "4a5339ba.514388",
		"name": "",
		"x": 933,
		"y": 440,
		"wires": [
			[
				"9f9f2357.4df3f",
				"326dd6d7.22c7ea",
				"147a0f9c.d71e8",
				"8d27889c.eb1088",
				"4c9db14.a01555",
				"6a3f93bf.10af0c",
				"59027c48.fd06a4",
				"d90f627f.abdd2",
				"cc65ccef.1b0aa",
				"d2aa1fa5.d5c2",
				"19986246.fa980e",
				"caceea6f.9a2e18",
				"1398e6c3.bc29b9",
				"83a7285f.82b168",
				"49c4060e.ad4ad8"
			]
		]
	},
	{
		"id": "bb88d972.e0b478",
		"type": "actions-serialize",
		"z": "4a5339ba.514388",
		"name": "",
		"x": 2052,
		"y": 446,
		"wires": [
			[
				"fc78bd93.256b1"
			]
		]
	},
	{
		"id": "fc78bd93.256b1",
		"type": "http response",
		"z": "4a5339ba.514388",
		"name": "",
		"statusCode": "",
		"headers": {},
		"x": 2190,
		"y": 446,
		"wires": []
	},
	{
		"id": "179c3eee.dfae21",
		"type": "http in",
		"z": "4a5339ba.514388",
		"name": "",
		"url": "/dialogflow",
		"method": "post",
		"upload": false,
		"swaggerDoc": "",
		"x": 158,
		"y": 440,
		"wires": [
			[
				"bf1769d6.8f0368"
			]
		]
	},
	{
		"id": "4c9db14.a01555",
		"type": "intent",
		"z": "4a5339ba.514388",
		"intentName": "search-title",
		"x": 1150,
		"y": 280,
		"wires": [
			[
				"67bdded5.ec9cd"
			]
		]
	},
	{
		"id": "147a0f9c.d71e8",
		"type": "intent",
		"z": "4a5339ba.514388",
		"intentName": "browse-filter",
		"x": 1155,
		"y": 178,
		"wires": [
			[
				"145af559.ec44cb",
				"2dee0e34.b4d522"
			]
		]
	},
	{
		"id": "6a3f93bf.10af0c",
		"type": "intent",
		"z": "4a5339ba.514388",
		"intentName": "browse-genre",
		"x": 1160,
		"y": 220,
		"wires": [
			[
				"187a4262.823f5e"
			]
		]
	},
	{
		"id": "730fb62f.bfff88",
		"type": "simple-response",
		"z": "4a5339ba.514388",
		"name": "",
		"text": "Okay",
		"speech": "",
		"suggestions": "",
		"x": 1870,
		"y": 720,
		"wires": [
			[
				"bb88d972.e0b478"
			]
		]
	},
	{
		"id": "8d27889c.eb1088",
		"type": "intent",
		"z": "4a5339ba.514388",
		"intentName": "control-play",
		"x": 1150,
		"y": 340,
		"wires": [
			[
				"48c2da1.c747124"
			]
		]
	},
	{
		"id": "9f9f2357.4df3f",
		"type": "change",
		"z": "4a5339ba.514388",
		"name": "Set device",
		"rules": [
			{
				"t": "set",
				"p": "player",
				"pt": "flow",
				"to": "msg.payload.queryResult.parameters.player",
				"tot": "msg"
			}
		],
		"action": "",
		"property": "",
		"from": "",
		"to": "",
		"reg": false,
		"x": 810,
		"y": 280,
		"wires": [
			[]
		]
	},
	{
		"id": "326dd6d7.22c7ea",
		"type": "change",
		"z": "4a5339ba.514388",
		"name": "Set media",
		"rules": [
			{
				"t": "set",
				"p": "player",
				"pt": "flow",
				"to": "payload.queryResult.parameters.player",
				"tot": "msg"
			}
		],
		"action": "",
		"property": "",
		"from": "",
		"to": "",
		"reg": false,
		"x": 840,
		"y": 200,
		"wires": [
			[]
		]
	},
	{
		"id": "6af13526.1c2e3c",
		"type": "kodi-out",
		"z": "4a5339ba.514388",
		"name": "",
		"controller": "b774da3d.4d57f8",
		"unit_number": "1",
		"output": "1",
		"kodicommand": "",
		"x": 1510,
		"y": 340,
		"wires": [
			[
				"e6656fb1.68d0a"
			]
		]
	},
	{
		"id": "48c2da1.c747124",
		"type": "template",
		"z": "4a5339ba.514388",
		"name": "Search",
		"field": "payload",
		"fieldType": "msg",
		"format": "handlebars",
		"syntax": "mustache",
		"template": "{\n \"cmd\": \"Files.GetDirectory\",\n \"params\": {\n  \"properties\": [\n    \"uniqueid\",\n   \"title\",\n   \"genre\",\n   \"year\",\n   \"rating\",\n   \"runtime\",\n   \"plot\",\n   \"file\",\n   \"art\",\n   \"sorttitle\",\n   \"originaltitle\"\n  ],\n  \"directory\": \"plugin://plugin.video.themoviedb.helper/?info=search&nextpage=True&query={{{payload.queryResult.parameters.title}}}&type={{{payload.queryResult.parameters.media}}}\",\n  \"media\": \"files\"\n },\n \"id\": 1\n}\n\n\n\n\n",
		"output": "json",
		"x": 1360,
		"y": 340,
		"wires": [
			[
				"6af13526.1c2e3c",
				"3f08923e.becdee"
			]
		]
	},
	{
		"id": "e6656fb1.68d0a",
		"type": "template",
		"z": "4a5339ba.514388",
		"name": "Play",
		"field": "payload",
		"fieldType": "msg",
		"format": "handlebars",
		"syntax": "mustache",
		"template": "{\n\t\"cmd\": \"Player.Open\",\n\t\"params\": {\n\t\t\"item\": {\n\t\t\t\"file\": \"plugin://plugin.video.themoviedb.helper/?info=play&type={{{payload.files.0.type}}}&nextpage=True&tmdb_id={{{payload.files.0.uniqueid.tmdb}}}\"\n\t\t}\n\t}\n}\n\n\n",
		"output": "json",
		"x": 1670,
		"y": 340,
		"wires": [
			[
				"151342c4.fdd43d"
			]
		]
	},
	{
		"id": "67bdded5.ec9cd",
		"type": "template",
		"z": "4a5339ba.514388",
		"name": "Search",
		"field": "payload",
		"fieldType": "msg",
		"format": "handlebars",
		"syntax": "mustache",
		"template": "{\n\t\"cmd\": \"GUI.ActivateWindow\",\n\t\"args\": {\n\t\t\t\"window\": \"videos\",\n\t\t\t\"parameters\": [\n\t\t\t\t\"plugin://plugin.video.themoviedb.helper/?info=search&nextpage=True&query={{{payload.queryResult.parameters.title}}}&type={{{payload.queryResult.parameters.media}}}\"\n\t\t\t]\n\n\t}\n}\n\n\n\n",
		"output": "json",
		"x": 1620,
		"y": 280,
		"wires": [
			[
				"151342c4.fdd43d",
				"5dbc2f71.b0c1d"
			]
		]
	},
	{
		"id": "187a4262.823f5e",
		"type": "template",
		"z": "4a5339ba.514388",
		"name": "Browse",
		"field": "payload",
		"fieldType": "msg",
		"format": "handlebars",
		"syntax": "mustache",
		"template": "{\n \"cmd\": \"GUI.ActivateWindow\",\n \"args\": {\n   \"window\": \"videos\",\n   \"parameters\": [\n    \"plugin://plugin.video.themoviedb.helper/?info=genre&nextpage=True&tmdb_id={{{payload.queryResult.parameters.genre}}}&type={{{payload.queryResult.parameters.media}}}\"\n   ]\n }\n}",
		"output": "json",
		"x": 1641,
		"y": 220,
		"wires": [
			[
				"151342c4.fdd43d",
				"7d585e1a.97369"
			]
		]
	},
	{
		"id": "151342c4.fdd43d",
		"type": "kodi-out",
		"z": "4a5339ba.514388",
		"name": "",
		"controller": "b774da3d.4d57f8",
		"unit_number": "1",
		"output": "1",
		"kodicommand": "",
		"x": 1830,
		"y": 80,
		"wires": [
			[]
		]
	},
	{
		"id": "59027c48.fd06a4",
		"type": "intent",
		"z": "4a5339ba.514388",
		"intentName": "browse-actor",
		"x": 1130,
		"y": 780,
		"wires": [
			[
				"5ac707e5.ef1708"
			]
		]
	},
	{
		"id": "d90f627f.abdd2",
		"type": "intent",
		"z": "4a5339ba.514388",
		"intentName": "control-status",
		"x": 1160,
		"y": 980,
		"wires": [
			[
				"431d99c0.a4f298"
			]
		]
	},
	{
		"id": "37a11955.fa5fb6",
		"type": "function",
		"z": "4a5339ba.514388",
		"name": "Prepare output",
		"func": "var title = msg.payload.result.item.title;\nvar item;\nvar payload;\n\nif (title === \"\") {\n    title = \"Nothing is playing right now\";\n} else {\n    title = title + \" is playing right now\";\n}\n\nmsg.simpleresponse = {};\nmsg.simpleresponse.text = title;\nmsg.simpleresponse.title = title;\nreturn msg;\n\n",
		"outputs": 1,
		"noerr": 0,
		"initialize": "",
		"finalize": "",
		"x": 1652,
		"y": 980,
		"wires": [
			[
				"afa9d5a5.ab1ba8"
			]
		]
	},
	{
		"id": "431d99c0.a4f298",
		"type": "template",
		"z": "4a5339ba.514388",
		"name": "Status",
		"field": "payload",
		"fieldType": "msg",
		"format": "handlebars",
		"syntax": "mustache",
		"template": "{\n\t\"cmd\": \"Player.GetItem\",\n\t\"params\": {\n\t\t\"properties\": [\n\t\t\t\"title\",\n\t\t\t\"album\",\n\t\t\t\"artist\",\n\t\t\t\"season\",\n\t\t\t\"episode\",\n\t\t\t\"duration\",\n\t\t\t\"showtitle\",\n\t\t\t\"tvshowid\",\n\t\t\t\"thumbnail\",\n\t\t\t\"file\",\n\t\t\t\"fanart\",\n\t\t\t\"streamdetails\"\n\t\t],\n\t\t\"playerid\": 1\n\t},\n\t\"id\": \"VideoGetItem\"\n}",
		"output": "json",
		"x": 1354,
		"y": 980,
		"wires": [
			[
				"d8ed0f49.a9d84"
			]
		]
	},
	{
		"id": "d8ed0f49.a9d84",
		"type": "kodi-out",
		"z": "4a5339ba.514388",
		"name": "",
		"controller": "b774da3d.4d57f8",
		"unit_number": "1",
		"output": "1",
		"kodicommand": "",
		"x": 1495,
		"y": 980,
		"wires": [
			[
				"37a11955.fa5fb6"
			]
		]
	},
	{
		"id": "afa9d5a5.ab1ba8",
		"type": "simple-response",
		"z": "4a5339ba.514388",
		"name": "",
		"text": "Okay",
		"speech": "Okay",
		"suggestions": "",
		"x": 1846,
		"y": 980,
		"wires": [
			[
				"bb88d972.e0b478"
			]
		]
	},
	{
		"id": "3f08923e.becdee",
		"type": "simple-response",
		"z": "4a5339ba.514388",
		"name": "",
		"text": "Okay",
		"speech": "Okay",
		"suggestions": "",
		"x": 1864,
		"y": 340,
		"wires": [
			[
				"bb88d972.e0b478"
			]
		]
	},
	{
		"id": "5dbc2f71.b0c1d",
		"type": "simple-response",
		"z": "4a5339ba.514388",
		"name": "",
		"text": "Okay",
		"speech": "Okay",
		"suggestions": "",
		"x": 1864,
		"y": 280,
		"wires": [
			[
				"bb88d972.e0b478"
			]
		]
	},
	{
		"id": "2dee0e34.b4d522",
		"type": "simple-response",
		"z": "4a5339ba.514388",
		"name": "",
		"text": "Okay",
		"speech": "Okay",
		"suggestions": "",
		"x": 1870,
		"y": 180,
		"wires": [
			[
				"bb88d972.e0b478"
			]
		]
	},
	{
		"id": "7d585e1a.97369",
		"type": "simple-response",
		"z": "4a5339ba.514388",
		"name": "",
		"text": "Okay",
		"speech": "Okay",
		"suggestions": "",
		"x": 1866,
		"y": 220,
		"wires": [
			[
				"bb88d972.e0b478"
			]
		]
	},
	{
		"id": "cc65ccef.1b0aa",
		"type": "intent",
		"z": "4a5339ba.514388",
		"intentName": "browse-title",
		"x": 1150,
		"y": 460,
		"wires": [
			[
				"255a47c6.1c1d38"
			]
		]
	},
	{
		"id": "255a47c6.1c1d38",
		"type": "template",
		"z": "4a5339ba.514388",
		"name": "Search",
		"field": "payload",
		"fieldType": "msg",
		"format": "handlebars",
		"syntax": "mustache",
		"template": "{\n \"cmd\": \"Files.GetDirectory\",\n \"params\": {\n  \"properties\": [\n    \"uniqueid\",\n   \"title\",\n   \"genre\",\n   \"year\",\n   \"rating\",\n   \"runtime\",\n   \"plot\",\n   \"file\",\n   \"art\",\n   \"sorttitle\",\n   \"originaltitle\"\n  ],\n  \"directory\": \"plugin://plugin.video.themoviedb.helper/?info=search&nextpage=True&query={{{payload.queryResult.parameters.title}}}&type={{{payload.queryResult.parameters.media}}}\",\n  \"media\": \"files\"\n },\n \"id\": 1\n}\n\n\n\n",
		"output": "json",
		"x": 1360,
		"y": 460,
		"wires": [
			[
				"5495b75b.2ee628",
				"d7cd0f50.55925"
			]
		]
	},
	{
		"id": "5495b75b.2ee628",
		"type": "kodi-out",
		"z": "4a5339ba.514388",
		"name": "",
		"controller": "b774da3d.4d57f8",
		"unit_number": "1",
		"output": "1",
		"kodicommand": "",
		"x": 1500,
		"y": 459,
		"wires": [
			[
				"f1380c3d.18dc2",
				"fc25edfc.8370f"
			]
		]
	},
	{
		"id": "f1380c3d.18dc2",
		"type": "template",
		"z": "4a5339ba.514388",
		"name": "Show",
		"field": "payload",
		"fieldType": "msg",
		"format": "handlebars",
		"syntax": "mustache",
		"template": "{\n\t\"cmd\": \"GUI.ActivateWindow\",\n\t\"args\": {\n\t\t\t\"window\": \"videos\",\n\t\t\t\"parameters\": [\n\t\t\t\t\"plugin://script.extendedinfo?info=extendedinfo&&id={{{payload.files.0.uniqueid.tmdb}}}\"\n\t\t\t]\n\n\t}\n}\n",
		"output": "json",
		"x": 1652,
		"y": 460,
		"wires": [
			[
				"151342c4.fdd43d"
			]
		]
	},
	{
		"id": "d7cd0f50.55925",
		"type": "simple-response",
		"z": "4a5339ba.514388",
		"name": "",
		"text": "Okay",
		"speech": "Okay",
		"suggestions": "",
		"x": 1864,
		"y": 460,
		"wires": [
			[
				"bb88d972.e0b478"
			]
		]
	},
	{
		"id": "d2aa1fa5.d5c2",
		"type": "intent",
		"z": "4a5339ba.514388",
		"intentName": "browse-related",
		"x": 1160,
		"y": 560,
		"wires": [
			[
				"ff7f4b00.e26ed8",
				"3b4797f1.0d5128"
			]
		]
	},
	{
		"id": "68248905.60eaf8",
		"type": "template",
		"z": "4a5339ba.514388",
		"name": "Related",
		"field": "payload",
		"fieldType": "msg",
		"format": "handlebars",
		"syntax": "mustache",
		"template": "{\n \"cmd\": \"GUI.ActivateWindow\",\n \"args\": {\n   \"window\": \"videos\",\n   \"parameters\": [\n    \"plugin://plugin.video.themoviedb.helper/?info=similar&nextpage=True&tmdb_id={{{payload.files.0.uniqueid.tmdb}}}&type={{{payload.files.0.type}}}\"\n   ]\n }\n}",
		"output": "json",
		"x": 1640,
		"y": 400,
		"wires": [
			[
				"151342c4.fdd43d"
			]
		]
	},
	{
		"id": "fc25edfc.8370f",
		"type": "change",
		"z": "4a5339ba.514388",
		"name": "Set tmdb",
		"rules": [
			{
				"t": "set",
				"p": "tmdb",
				"pt": "flow",
				"to": "payload.files[0].uniqueid.tmdb",
				"tot": "msg"
			}
		],
		"action": "",
		"property": "",
		"from": "",
		"to": "",
		"reg": false,
		"x": 1660,
		"y": 520,
		"wires": [
			[]
		]
	},
	{
		"id": "19986246.fa980e",
		"type": "intent",
		"z": "4a5339ba.514388",
		"intentName": "search-related",
		"x": 1154,
		"y": 400,
		"wires": [
			[
				"33e46cd1.ad77f4"
			]
		]
	},
	{
		"id": "33e46cd1.ad77f4",
		"type": "template",
		"z": "4a5339ba.514388",
		"name": "Search",
		"field": "payload",
		"fieldType": "msg",
		"format": "handlebars",
		"syntax": "mustache",
		"template": "{\n \"cmd\": \"Files.GetDirectory\",\n \"params\": {\n  \"properties\": [\n    \"uniqueid\",\n   \"title\",\n   \"genre\",\n   \"year\",\n   \"rating\",\n   \"runtime\",\n   \"plot\",\n   \"file\",\n   \"art\",\n   \"sorttitle\",\n   \"originaltitle\"\n  ],\n  \"directory\": \"plugin://plugin.video.themoviedb.helper/?info=search&nextpage=True&query={{{payload.queryResult.parameters.title}}}&type={{{payload.queryResult.parameters.media}}}\",\n  \"media\": \"files\"\n },\n \"id\": 1\n}\n\n\n\n\n",
		"output": "json",
		"x": 1359,
		"y": 400,
		"wires": [
			[
				"60a9087f.d29898",
				"92f02810.272ec8"
			]
		]
	},
	{
		"id": "60a9087f.d29898",
		"type": "kodi-out",
		"z": "4a5339ba.514388",
		"name": "",
		"controller": "b774da3d.4d57f8",
		"unit_number": "1",
		"output": "1",
		"kodicommand": "",
		"x": 1495,
		"y": 399,
		"wires": [
			[
				"68248905.60eaf8"
			]
		]
	},
	{
		"id": "92f02810.272ec8",
		"type": "simple-response",
		"z": "4a5339ba.514388",
		"name": "",
		"text": "Okay",
		"speech": "",
		"suggestions": "",
		"x": 1870,
		"y": 400,
		"wires": [
			[
				"bb88d972.e0b478"
			]
		]
	},
	{
		"id": "3b4797f1.0d5128",
		"type": "simple-response",
		"z": "4a5339ba.514388",
		"name": "",
		"text": "Okay",
		"speech": "",
		"suggestions": "",
		"x": 1864,
		"y": 560,
		"wires": [
			[
				"bb88d972.e0b478"
			]
		]
	},
	{
		"id": "145af559.ec44cb",
		"type": "template",
		"z": "4a5339ba.514388",
		"name": "Filter",
		"field": "payload",
		"fieldType": "msg",
		"format": "handlebars",
		"syntax": "mustache",
		"template": "{\n \"cmd\": \"GUI.ActivateWindow\",\n \"args\": {\n   \"window\": \"videos\",\n   \"parameters\": [\n    \"plugin://plugin.video.themoviedb.helper/?info={{{payload.queryResult.parameters.filter}}}&nextpage=True&type={{{payload.queryResult.parameters.media}}}\"\n   ]\n }\n}\n\n\n\n",
		"output": "json",
		"x": 1550,
		"y": 180,
		"wires": [
			[
				"151342c4.fdd43d"
			]
		]
	},
	{
		"id": "bf1769d6.8f0368",
		"type": "node-red-contrib-httpauth",
		"z": "4a5339ba.514388",
		"name": "",
		"file": "",
		"cred": "",
		"authType": "Basic",
		"realm": "",
		"username": "nodered",
		"password": "nodered",
		"hashed": false,
		"x": 334,
		"y": 440,
		"wires": [
			[
				"ade52093.5802a",
				"abd76e48.11f74"
			]
		]
	},
	{
		"id": "ff7f4b00.e26ed8",
		"type": "template",
		"z": "4a5339ba.514388",
		"name": "Related",
		"field": "payload",
		"fieldType": "msg",
		"format": "handlebars",
		"syntax": "mustache",
		"template": "{\n \"cmd\": \"GUI.ActivateWindow\",\n \"args\": {\n   \"window\": \"videos\",\n   \"parameters\": [\n    \"plugin://plugin.video.themoviedb.helper/?info=similar&nextpage=True&tmdb_id={{{flow.tmdb}}}&type=movie\"\n   ]\n }\n}",
		"output": "json",
		"x": 1646,
		"y": 559,
		"wires": [
			[
				"151342c4.fdd43d"
			]
		]
	},
	{
		"id": "ade52093.5802a",
		"type": "template",
		"z": "4a5339ba.514388",
		"name": "Close",
		"field": "payload",
		"fieldType": "msg",
		"format": "handlebars",
		"syntax": "mustache",
		"template": "{\n\t\"cmd\": \"Input.ExecuteAction\",\n\t\"id\": 44,\n\t\"args\": {\n\t\t\"action\": \"close\"\n\t}\n}\n",
		"output": "json",
		"x": 484,
		"y": 406,
		"wires": [
			[
				"94239251.93408"
			]
		]
	},
	{
		"id": "94239251.93408",
		"type": "kodi-out",
		"z": "4a5339ba.514388",
		"name": "",
		"controller": "b774da3d.4d57f8",
		"unit_number": "1",
		"output": "1",
		"kodicommand": "",
		"x": 624,
		"y": 406,
		"wires": [
			[
				"abd76e48.11f74"
			]
		]
	},
	{
		"id": "abd76e48.11f74",
		"type": "q-gate",
		"z": "4a5339ba.514388",
		"name": "q-gate",
		"controlTopic": "kodi",
		"defaultState": "queueing",
		"openCmd": "open",
		"closeCmd": "close",
		"toggleCmd": "toggle",
		"queueCmd": "queue",
		"defaultCmd": "default",
		"triggerCmd": "trigger",
		"flushCmd": "OK",
		"resetCmd": "reset",
		"peekCmd": "",
		"dropCmd": "",
		"statusCmd": "",
		"maxQueueLength": "1",
		"keepNewest": true,
		"qToggle": false,
		"persist": false,
		"x": 780,
		"y": 440,
		"wires": [
			[
				"354e5ecd.3bc0e2"
			]
		]
	},
	{
		"id": "caceea6f.9a2e18",
		"type": "intent",
		"z": "4a5339ba.514388",
		"intentName": "discover-titles",
		"x": 1160,
		"y": 640,
		"wires": [
			[
				"b250ea1b.e16658"
			]
		]
	},
	{
		"id": "df8d5fe.ade62a",
		"type": "simple-response",
		"z": "4a5339ba.514388",
		"name": "",
		"text": "Okay",
		"speech": "",
		"suggestions": "",
		"x": 1870,
		"y": 640,
		"wires": [
			[
				"bb88d972.e0b478"
			]
		]
	},
	{
		"id": "e06e7513.cfb468",
		"type": "template",
		"z": "4a5339ba.514388",
		"name": "Search",
		"field": "payload",
		"fieldType": "msg",
		"format": "handlebars",
		"syntax": "mustache",
		"template": "{\n \"cmd\": \"Files.GetDirectory\",\n \"params\": {\n  \"properties\": [\n    \"uniqueid\",\n   \"title\",\n   \"genre\",\n   \"year\",\n   \"rating\",\n   \"runtime\",\n   \"plot\",\n   \"file\",\n   \"art\",\n   \"sorttitle\",\n   \"originaltitle\"\n  ],\n  \"directory\": \"plugin://plugin.video.themoviedb.helper/?info=search&nextpage=True&query={{{payload.queryResult.parameters.actor}}}&type=person\",\n  \"media\": \"files\"\n },\n \"id\": 1\n}\n\n\n\n",
		"output": "json",
		"x": 1320,
		"y": 720,
		"wires": [
			[
				"1a3166e0.c6ccf9",
				"730fb62f.bfff88"
			]
		]
	},
	{
		"id": "1a3166e0.c6ccf9",
		"type": "kodi-out",
		"z": "4a5339ba.514388",
		"name": "",
		"controller": "b774da3d.4d57f8",
		"unit_number": "1",
		"output": "1",
		"kodicommand": "",
		"x": 1450,
		"y": 720,
		"wires": [
			[]
		]
	},
	{
		"id": "90a06798.9ec298",
		"type": "template",
		"z": "4a5339ba.514388",
		"name": "Show",
		"field": "payload",
		"fieldType": "msg",
		"format": "handlebars",
		"syntax": "mustache",
		"template": "{\n\t\"cmd\": \"GUI.ActivateWindow\",\n\t\"args\": {\n\t\t\t\"window\": \"videos\",\n\t\t\t\"parameters\": [\n\t\t\t\t\"plugin://plugin.video.themoviedb.helper/?info=discover&nextpage=True&with_cast={{{payload.files.0.uniqueid.tmdb}}}&with_id=True\"\n\t\t\t]\n\n\t}\n}\n\n\n",
		"output": "json",
		"x": 1530,
		"y": 640,
		"wires": [
			[]
		]
	},
	{
		"id": "6505b002.062c",
		"type": "template",
		"z": "4a5339ba.514388",
		"name": "Show",
		"field": "payload",
		"fieldType": "msg",
		"format": "handlebars",
		"syntax": "mustache",
		"template": "{\n\t\"cmd\": \"GUI.ActivateWindow\",\n\t\"args\": {\n\t\t\t\"window\": \"videos\",\n\t\t\t\"parameters\": [\n\t\t\t\t\"plugin://script.extendedinfo?info=extendedactorinfo&id={{{payload.files.0.uniqueid.tmdb}}}\"\n\t\t\t]\n\n\t}\n}\n",
		"output": "json",
		"x": 1610,
		"y": 780,
		"wires": [
			[
				"151342c4.fdd43d"
			]
		]
	},
	{
		"id": "b250ea1b.e16658",
		"type": "function",
		"z": "4a5339ba.514388",
		"name": "",
		"func": "\n\nvar array = [];\n\n\narray.toString().replace(/,/g, '/');\n\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"initialize": "",
		"finalize": "",
		"x": 1380,
		"y": 640,
		"wires": [
			[
				"90a06798.9ec298"
			]
		]
	},
	{
		"id": "5ac707e5.ef1708",
		"type": "template",
		"z": "4a5339ba.514388",
		"name": "Search",
		"field": "payload",
		"fieldType": "msg",
		"format": "handlebars",
		"syntax": "mustache",
		"template": "{\n \"cmd\": \"Files.GetDirectory\",\n \"params\": {\n  \"properties\": [\n    \"uniqueid\",\n   \"title\",\n   \"genre\",\n   \"year\",\n   \"rating\",\n   \"runtime\",\n   \"plot\",\n   \"file\",\n   \"art\",\n   \"sorttitle\",\n   \"originaltitle\"\n  ],\n  \"directory\": \"plugin://plugin.video.themoviedb.helper/?info=search&nextpage=True&query={{{payload.queryResult.parameters.actor}}}&type=person\",\n  \"media\": \"files\"\n },\n \"id\": 1\n}\n\n\n\n",
		"output": "json",
		"x": 1320,
		"y": 780,
		"wires": [
			[
				"1253f13d.e2aa8f",
				"d444babd.b41a78"
			]
		]
	},
	{
		"id": "1253f13d.e2aa8f",
		"type": "kodi-out",
		"z": "4a5339ba.514388",
		"name": "",
		"controller": "b774da3d.4d57f8",
		"unit_number": "1",
		"output": "1",
		"kodicommand": "",
		"x": 1450,
		"y": 780,
		"wires": [
			[
				"6505b002.062c",
				"4cf30d1.8b041f4"
			]
		]
	},
	{
		"id": "1398e6c3.bc29b9",
		"type": "intent",
		"z": "4a5339ba.514388",
		"intentName": "browse-media context: browse-actor",
		"x": 1230,
		"y": 880,
		"wires": [
			[
				"993925da.fa72a8"
			]
		]
	},
	{
		"id": "993925da.fa72a8",
		"type": "template",
		"z": "4a5339ba.514388",
		"name": "Show",
		"field": "payload",
		"fieldType": "msg",
		"format": "handlebars",
		"syntax": "mustache",
		"template": "{\n\t\"cmd\": \"GUI.ActivateWindow\",\n\t\"args\": {\n\t\t\t\"window\": \"videos\",\n\t\t\t\"parameters\": [\n\t\t\t\t\"plugin://plugin.video.themoviedb.helper/?info={{{payload.queryResult.parameters.starsin}}}&nextpage=True&tmdb_id={{flow.tmdb}}&type=person\"\n\t\t\t]\n\n\t}\n}",
		"output": "json",
		"x": 1670,
		"y": 880,
		"wires": [
			[
				"151342c4.fdd43d",
				"398b9108.3b6c4e"
			]
		]
	},
	{
		"id": "4cf30d1.8b041f4",
		"type": "change",
		"z": "4a5339ba.514388",
		"name": "Set tmdb",
		"rules": [
			{
				"t": "set",
				"p": "tmdb",
				"pt": "flow",
				"to": "payload.files[0].uniqueid.tmdb",
				"tot": "msg"
			}
		],
		"action": "",
		"property": "",
		"from": "",
		"to": "",
		"reg": false,
		"x": 1620,
		"y": 820,
		"wires": [
			[]
		]
	},
	{
		"id": "d444babd.b41a78",
		"type": "simple-response",
		"z": "4a5339ba.514388",
		"name": "",
		"text": "Okay",
		"speech": "",
		"suggestions": "",
		"x": 1870,
		"y": 780,
		"wires": [
			[
				"bb88d972.e0b478"
			]
		]
	},
	{
		"id": "398b9108.3b6c4e",
		"type": "simple-response",
		"z": "4a5339ba.514388",
		"name": "",
		"text": "Okay",
		"speech": "",
		"suggestions": "",
		"x": 1850,
		"y": 880,
		"wires": [
			[
				"bb88d972.e0b478"
			]
		]
	},
	{
		"id": "83a7285f.82b168",
		"type": "intent",
		"z": "4a5339ba.514388",
		"intentName": "browse-filter-movies",
		"x": 1180,
		"y": 120,
		"wires": [
			[
				"6be6e926.e87b18"
			]
		]
	},
	{
		"id": "6be6e926.e87b18",
		"type": "template",
		"z": "4a5339ba.514388",
		"name": "Filter",
		"field": "payload",
		"fieldType": "msg",
		"format": "handlebars",
		"syntax": "mustache",
		"template": "{\n \"cmd\": \"GUI.ActivateWindow\",\n \"args\": {\n   \"window\": \"videos\",\n   \"parameters\": [\n    \"plugin://plugin.video.themoviedb.helper/?info={{{payload.queryResult.parameters.filter}}}&nextpage=True&type=movie\"\n   ]\n }\n}\n\n\n\n",
		"output": "json",
		"x": 1530,
		"y": 120,
		"wires": [
			[
				"2dee0e34.b4d522",
				"151342c4.fdd43d"
			]
		]
	},
	{
		"id": "49c4060e.ad4ad8",
		"type": "intent",
		"z": "4a5339ba.514388",
		"intentName": "browse-filter-tv",
		"x": 1160,
		"y": 80,
		"wires": [
			[
				"8bbd359c.4bec18"
			]
		]
	},
	{
		"id": "8bbd359c.4bec18",
		"type": "template",
		"z": "4a5339ba.514388",
		"name": "Filter",
		"field": "payload",
		"fieldType": "msg",
		"format": "handlebars",
		"syntax": "mustache",
		"template": "{\n \"cmd\": \"GUI.ActivateWindow\",\n \"args\": {\n   \"window\": \"videos\",\n   \"parameters\": [\n    \"plugin://plugin.video.themoviedb.helper/?info={{{payload.queryResult.parameters.filter}}}&nextpage=True&type=tv\"\n   ]\n }\n}",
		"output": "json",
		"x": 1530,
		"y": 80,
		"wires": [
			[
				"2dee0e34.b4d522",
				"151342c4.fdd43d"
			]
		]
	},
	{
		"id": "b774da3d.4d57f8",
		"type": "kodi-controller",
		"z": "",
		"name": "Living room Kodi",
		"host": "192.168.1.105",
		"port": "9090"
	}
]