kodi/nodered.json
[
	{
		"id": "1b1d11d8.4f449e",
		"type": "template",
		"z": "d7cff51f.3b5e88",
		"name": "Channel",
		"field": "payload",
		"fieldType": "msg",
		"format": "handlebars",
		"syntax": "mustache",
		"template": "{\n\t\"cmd\": \"Player.Open\",\n\t\"args\": {\n\t\t\"item\": {\n\t\t\t\"channelid\": {{payload}}\n\t\t}\n\t}\n}",
		"output": "json",
		"x": 880,
		"y": 1174,
		"wires": [
			[
				"d9c18053.b05c"
			]
		]
	},
	{
		"id": "8b800e1a.24c1f",
		"type": "kodi-in",
		"z": "d7cff51f.3b5e88",
		"name": "",
		"controller": "b774da3d.4d57f8",
		"x": 210,
		"y": 380,
		"wires": [
			[
				"5fb97eb9.77484",
				"40fc7b97.5d1104",
				"ec03d7b1.5bed18",
				"15eb837d.56e23d"
			]
		]
	},
	{
		"id": "5fb97eb9.77484",
		"type": "switch",
		"z": "d7cff51f.3b5e88",
		"name": "",
		"property": "payload.notification",
		"propertyType": "msg",
		"rules": [
			{
				"t": "eq",
				"v": "Player.OnPlay",
				"vt": "str"
			},
			{
				"t": "eq",
				"v": "Player.OnPause",
				"vt": "str"
			},
			{
				"t": "eq",
				"v": "Player.OnResume",
				"vt": "str"
			},
			{
				"t": "eq",
				"v": "Player.OnStop",
				"vt": "str"
			},
			{
				"t": "eq",
				"v": "Application.OnVolumeChanged",
				"vt": "str"
			},
			{
				"t": "eq",
				"v": "",
				"vt": "str"
			}
		],
		"checkall": "true",
		"repair": false,
		"outputs": 6,
		"x": 370,
		"y": 260,
		"wires": [
			[
				"3442ef63.f2974"
			],
			[
				"3442ef63.f2974"
			],
			[
				"ca872de4.4ae2d"
			],
			[
				"ccf6bc6.bdcbd4"
			],
			[
				"709f9cb7.24c434"
			],
			[
				"6e383f2a.6055a"
			]
		]
	},
	{
		"id": "da68be1c.c8e0a",
		"type": "mqtt out",
		"z": "d7cff51f.3b5e88",
		"name": "",
		"topic": "livingroom/kodi/playbackState",
		"qos": "",
		"retain": "true",
		"broker": "887f143b.dd5858",
		"x": 850,
		"y": 220,
		"wires": []
	},
	{
		"id": "3442ef63.f2974",
		"type": "template",
		"z": "d7cff51f.3b5e88",
		"name": "",
		"field": "payload",
		"fieldType": "msg",
		"format": "text",
		"syntax": "mustache",
		"template": "\"PAUSED\"\n\n\n",
		"output": "json",
		"x": 580,
		"y": 180,
		"wires": [
			[
				"da68be1c.c8e0a"
			]
		]
	},
	{
		"id": "ccf6bc6.bdcbd4",
		"type": "template",
		"z": "d7cff51f.3b5e88",
		"name": "",
		"field": "payload",
		"fieldType": "msg",
		"format": "text",
		"syntax": "mustache",
		"template": "\"STOPPED\"",
		"output": "json",
		"x": 580,
		"y": 260,
		"wires": [
			[
				"da68be1c.c8e0a"
			]
		]
	},
	{
		"id": "ca872de4.4ae2d",
		"type": "template",
		"z": "d7cff51f.3b5e88",
		"name": "",
		"field": "payload",
		"fieldType": "msg",
		"format": "text",
		"syntax": "mustache",
		"template": "\"PLAYING\"",
		"output": "json",
		"x": 580,
		"y": 220,
		"wires": [
			[
				"da68be1c.c8e0a"
			]
		]
	},
	{
		"id": "3c8e35f6.4f934a",
		"type": "mqtt out",
		"z": "d7cff51f.3b5e88",
		"name": "",
		"topic": "livingroom/kodi/activityState",
		"qos": "",
		"retain": "true",
		"broker": "887f143b.dd5858",
		"x": 840,
		"y": 440,
		"wires": []
	},
	{
		"id": "87ce46e4.067da8",
		"type": "template",
		"z": "d7cff51f.3b5e88",
		"name": "",
		"field": "payload",
		"fieldType": "msg",
		"format": "text",
		"syntax": "mustache",
		"template": "\"ACTIVE\"",
		"output": "json",
		"x": 580,
		"y": 420,
		"wires": [
			[
				"3c8e35f6.4f934a"
			]
		]
	},
	{
		"id": "ffef7689.5ec0b8",
		"type": "template",
		"z": "d7cff51f.3b5e88",
		"name": "",
		"field": "payload",
		"fieldType": "msg",
		"format": "text",
		"syntax": "mustache",
		"template": "\"INACTIVE\"",
		"output": "json",
		"x": 580,
		"y": 500,
		"wires": [
			[
				"3c8e35f6.4f934a"
			]
		]
	},
	{
		"id": "745c4e19.86286",
		"type": "template",
		"z": "d7cff51f.3b5e88",
		"name": "",
		"field": "payload",
		"fieldType": "msg",
		"format": "text",
		"syntax": "mustache",
		"template": "\"STANDBY\"",
		"output": "json",
		"x": 580,
		"y": 460,
		"wires": [
			[
				"3c8e35f6.4f934a"
			]
		]
	},
	{
		"id": "40fc7b97.5d1104",
		"type": "switch",
		"z": "d7cff51f.3b5e88",
		"name": "",
		"property": "payload.notification",
		"propertyType": "msg",
		"rules": [
			{
				"t": "eq",
				"v": "Player.OnPlay",
				"vt": "str"
			},
			{
				"t": "eq",
				"v": "Player.OnResume",
				"vt": "str"
			},
			{
				"t": "eq",
				"v": "Player.OnPause",
				"vt": "str"
			},
			{
				"t": "eq",
				"v": "Player.OnStop",
				"vt": "str"
			}
		],
		"checkall": "true",
		"repair": false,
		"outputs": 4,
		"x": 370,
		"y": 460,
		"wires": [
			[
				"87ce46e4.067da8"
			],
			[
				"87ce46e4.067da8"
			],
			[
				"745c4e19.86286"
			],
			[
				"ffef7689.5ec0b8"
			]
		]
	},
	{
		"id": "ec03d7b1.5bed18",
		"type": "switch",
		"z": "d7cff51f.3b5e88",
		"name": "",
		"property": "payload.data.data.player.speed",
		"propertyType": "msg",
		"rules": [
			{
				"t": "gt",
				"v": "1",
				"vt": "num"
			},
			{
				"t": "lt",
				"v": "0",
				"vt": "num"
			}
		],
		"checkall": "true",
		"repair": false,
		"outputs": 2,
		"x": 370,
		"y": 380,
		"wires": [
			[
				"dcb2a6e0.be0658"
			],
			[
				"776f1690.459048"
			]
		]
	},
	{
		"id": "dcb2a6e0.be0658",
		"type": "template",
		"z": "d7cff51f.3b5e88",
		"name": "",
		"field": "payload",
		"fieldType": "msg",
		"format": "text",
		"syntax": "mustache",
		"template": "\"FAST_FORWARDING\"",
		"output": "json",
		"x": 580,
		"y": 340,
		"wires": [
			[
				"da68be1c.c8e0a"
			]
		]
	},
	{
		"id": "776f1690.459048",
		"type": "template",
		"z": "d7cff51f.3b5e88",
		"name": "",
		"field": "payload",
		"fieldType": "msg",
		"format": "text",
		"syntax": "mustache",
		"template": "\"REWINDING\"",
		"output": "json",
		"x": 580,
		"y": 380,
		"wires": [
			[
				"da68be1c.c8e0a"
			]
		]
	},
	{
		"id": "15eb837d.56e23d",
		"type": "switch",
		"z": "d7cff51f.3b5e88",
		"name": "",
		"property": "payload.notification",
		"propertyType": "msg",
		"rules": [
			{
				"t": "eq",
				"v": "Player.OnPlay",
				"vt": "str"
			},
			{
				"t": "else"
			}
		],
		"checkall": "true",
		"repair": false,
		"outputs": 2,
		"x": 370,
		"y": 540,
		"wires": [
			[
				"bf320324.b83ac"
			],
			[]
		]
	},
	{
		"id": "38e220b5.9425e",
		"type": "change",
		"z": "d7cff51f.3b5e88",
		"name": "",
		"rules": [
			{
				"t": "set",
				"p": "returnChannel",
				"pt": "flow",
				"to": "currentChannel",
				"tot": "flow"
			},
			{
				"t": "set",
				"p": "currentChannel",
				"pt": "flow",
				"to": "payload.data.data.item.id",
				"tot": "msg"
			}
		],
		"action": "",
		"property": "",
		"from": "",
		"to": "",
		"reg": false,
		"x": 733,
		"y": 528,
		"wires": [
			[]
		]
	},
	{
		"id": "bf320324.b83ac",
		"type": "switch",
		"z": "d7cff51f.3b5e88",
		"name": "",
		"property": "payload.data.data.item.type",
		"propertyType": "msg",
		"rules": [
			{
				"t": "eq",
				"v": "channel",
				"vt": "str"
			},
			{
				"t": "else"
			}
		],
		"checkall": "true",
		"repair": false,
		"outputs": 2,
		"x": 570,
		"y": 534,
		"wires": [
			[
				"38e220b5.9425e"
			],
			[]
		]
	},
	{
		"id": "45ed0785.34e298",
		"type": "mqtt out",
		"z": "d7cff51f.3b5e88",
		"name": "",
		"topic": "livingroom/kodi/volume",
		"qos": "",
		"retain": "true",
		"broker": "887f143b.dd5858",
		"x": 820,
		"y": 300,
		"wires": []
	},
	{
		"id": "6e383f2a.6055a",
		"type": "debug",
		"z": "d7cff51f.3b5e88",
		"name": "",
		"active": false,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "false",
		"statusVal": "",
		"statusType": "auto",
		"x": 830,
		"y": 380,
		"wires": []
	},
	{
		"id": "709f9cb7.24c434",
		"type": "template",
		"z": "d7cff51f.3b5e88",
		"name": "",
		"field": "payload",
		"fieldType": "msg",
		"format": "text",
		"syntax": "mustache",
		"template": "{{payload.data.data.volume}}",
		"output": "json",
		"x": 580,
		"y": 300,
		"wires": [
			[
				"45ed0785.34e298"
			]
		]
	},
	{
		"id": "26495c72.b797e4",
		"type": "mqtt in",
		"z": "d7cff51f.3b5e88",
		"name": "",
		"topic": "livingroom/kodi/app/set",
		"qos": "2",
		"datatype": "auto",
		"broker": "887f143b.dd5858",
		"x": 240,
		"y": 654,
		"wires": [
			[
				"bff06364.d07f2"
			]
		]
	},
	{
		"id": "535b680b.c7abe8",
		"type": "mqtt in",
		"z": "d7cff51f.3b5e88",
		"name": "",
		"topic": "livingroom/kodi/mediaNext/set",
		"qos": "2",
		"datatype": "auto",
		"broker": "887f143b.dd5858",
		"x": 260,
		"y": 694,
		"wires": [
			[
				"a1068afe.d2a1c8"
			]
		]
	},
	{
		"id": "e320292c.812f68",
		"type": "mqtt in",
		"z": "d7cff51f.3b5e88",
		"name": "",
		"topic": "livingroom/kodi/mediaPause/set",
		"qos": "2",
		"datatype": "auto",
		"broker": "887f143b.dd5858",
		"x": 270,
		"y": 734,
		"wires": [
			[
				"d0cfbbc4.5ebba8"
			]
		]
	},
	{
		"id": "c63970ec.be9a2",
		"type": "mqtt in",
		"z": "d7cff51f.3b5e88",
		"name": "",
		"topic": "livingroom/kodi/mediaPrevious/set",
		"qos": "2",
		"datatype": "auto",
		"broker": "887f143b.dd5858",
		"x": 280,
		"y": 774,
		"wires": [
			[
				"4c9e6fc7.83d35"
			]
		]
	},
	{
		"id": "2ebd7418.19c15c",
		"type": "mqtt in",
		"z": "d7cff51f.3b5e88",
		"name": "",
		"topic": "livingroom/kodi/mediaResume/set",
		"qos": "2",
		"datatype": "auto",
		"broker": "887f143b.dd5858",
		"x": 270,
		"y": 814,
		"wires": [
			[
				"ef08a10.ee79c6"
			]
		]
	},
	{
		"id": "e9b62402.7af338",
		"type": "mqtt in",
		"z": "d7cff51f.3b5e88",
		"name": "",
		"topic": "livingroom/kodi/mediaStop/set",
		"qos": "2",
		"datatype": "auto",
		"broker": "887f143b.dd5858",
		"x": 260,
		"y": 854,
		"wires": [
			[
				"eb19e77e.ceb358"
			]
		]
	},
	{
		"id": "e40e7646.267d58",
		"type": "template",
		"z": "d7cff51f.3b5e88",
		"name": "Addon",
		"field": "payload",
		"fieldType": "msg",
		"format": "json",
		"syntax": "mustache",
		"template": "{\n\t\"cmd\": \"GUI.ActivateWindow\",\n\t\"args\": {\n\t\t\t\"window\": \"videos\",\n\t\t\t\"parameters\": [\n\t\t\t\t\"{{{payload}}}\"\n\t\t\t]\n\n\t}\n}\n\n\n",
		"output": "json",
		"x": 550,
		"y": 654,
		"wires": [
			[
				"d9c18053.b05c"
			]
		]
	},
	{
		"id": "bff06364.d07f2",
		"type": "change",
		"z": "d7cff51f.3b5e88",
		"name": "Set app",
		"rules": [
			{
				"t": "change",
				"p": "payload",
				"pt": "msg",
				"from": "youtube",
				"fromt": "str",
				"to": "plugin://plugin.video.youtube",
				"tot": "str"
			},
			{
				"t": "change",
				"p": "payload",
				"pt": "msg",
				"from": "movies",
				"fromt": "str",
				"to": "plugin://plugin.video.openmeta/movies",
				"tot": "str"
			},
			{
				"t": "change",
				"p": "payload",
				"pt": "msg",
				"from": "tv",
				"fromt": "str",
				"to": "plugin://plugin.video.openmeta/tv",
				"tot": "str"
			},
			{
				"t": "change",
				"p": "payload",
				"pt": "msg",
				"from": "spotify",
				"fromt": "str",
				"to": "plugin://plugin.audio.spotify",
				"tot": "str"
			},
			{
				"t": "change",
				"p": "payload",
				"pt": "msg",
				"from": "videos",
				"fromt": "str",
				"to": "videodb://1/2",
				"tot": "str"
			}
		],
		"action": "",
		"property": "",
		"from": "",
		"to": "",
		"reg": false,
		"x": 420,
		"y": 654,
		"wires": [
			[
				"e40e7646.267d58"
			]
		]
	},
	{
		"id": "4f583a29.fcad74",
		"type": "mqtt in",
		"z": "d7cff51f.3b5e88",
		"name": "",
		"topic": "livingroom/kodi/channel/set",
		"qos": "2",
		"datatype": "auto",
		"broker": "887f143b.dd5858",
		"x": 250,
		"y": 1174,
		"wires": [
			[
				"1b1d11d8.4f449e"
			]
		]
	},
	{
		"id": "eb19e77e.ceb358",
		"type": "template",
		"z": "d7cff51f.3b5e88",
		"name": "Stop",
		"field": "payload",
		"fieldType": "msg",
		"format": "json",
		"syntax": "mustache",
		"template": "{\n    \"cmd\": \"Player.Stop\",\n    \"args\" :{\n        \"playerid\": 1\n    }\n}",
		"output": "str",
		"x": 550,
		"y": 854,
		"wires": [
			[
				"d9c18053.b05c"
			]
		]
	},
	{
		"id": "d9c18053.b05c",
		"type": "kodi-out",
		"z": "d7cff51f.3b5e88",
		"name": "",
		"controller": "b774da3d.4d57f8",
		"unit_number": "1",
		"output": "1",
		"kodicommand": "",
		"x": 1070,
		"y": 794,
		"wires": []
	},
	{
		"id": "d0cfbbc4.5ebba8",
		"type": "template",
		"z": "d7cff51f.3b5e88",
		"name": "Play/Pause",
		"field": "payload",
		"fieldType": "msg",
		"format": "json",
		"syntax": "mustache",
		"template": "{\n    \"cmd\": \"Player.PlayPause\",\n    \"args\" :{\n        \"playerid\": 1\n    }\n}",
		"output": "str",
		"x": 570,
		"y": 734,
		"wires": [
			[
				"d9c18053.b05c"
			]
		]
	},
	{
		"id": "ef08a10.ee79c6",
		"type": "template",
		"z": "d7cff51f.3b5e88",
		"name": "Play/Pause",
		"field": "payload",
		"fieldType": "msg",
		"format": "json",
		"syntax": "mustache",
		"template": "{\n    \"cmd\": \"Player.PlayPause\",\n    \"args\" :{\n        \"playerid\": 1\n    }\n}",
		"output": "str",
		"x": 570,
		"y": 814,
		"wires": [
			[
				"d9c18053.b05c"
			]
		]
	},
	{
		"id": "a1068afe.d2a1c8",
		"type": "template",
		"z": "d7cff51f.3b5e88",
		"name": "Next",
		"field": "payload",
		"fieldType": "msg",
		"format": "json",
		"syntax": "mustache",
		"template": "{\n    \"cmd\": \"Player.GoTo\",\n    \"args\" :{\n        \"playerid\": 1,\n        \"to\": \"next\"\n    }\n}",
		"output": "str",
		"x": 550,
		"y": 694,
		"wires": [
			[
				"d9c18053.b05c"
			]
		]
	},
	{
		"id": "4c9e6fc7.83d35",
		"type": "template",
		"z": "d7cff51f.3b5e88",
		"name": "Previous",
		"field": "payload",
		"fieldType": "msg",
		"format": "json",
		"syntax": "mustache",
		"template": "{\n    \"cmd\": \"Player.GoTo\",\n    \"args\" :{\n        \"playerid\": 1,\n        \"to\": \"previous\"\n    }\n}",
		"output": "str",
		"x": 560,
		"y": 774,
		"wires": [
			[
				"d9c18053.b05c"
			]
		]
	},
	{
		"id": "7d660b22.7fcb74",
		"type": "template",
		"z": "d7cff51f.3b5e88",
		"name": "",
		"field": "payload",
		"fieldType": "msg",
		"format": "handlebars",
		"syntax": "mustache",
		"template": "{\n\t\"cmd\": \"Player.Seek\",\n\t\"args\": {\n\t\t\"playerid\": 1,\n\t\t\"value\": {\n\t\t\t\"milliseconds\": {{payload}}\n\t\t}\n\t}\n}",
		"output": "json",
		"x": 560,
		"y": 894,
		"wires": [
			[
				"d9c18053.b05c"
			]
		]
	},
	{
		"id": "1998dc51.a7a7c4",
		"type": "mqtt in",
		"z": "d7cff51f.3b5e88",
		"name": "",
		"topic": "livingroom/kodi/absPositionMs/set",
		"qos": "2",
		"datatype": "auto",
		"broker": "887f143b.dd5858",
		"x": 280,
		"y": 894,
		"wires": [
			[
				"7d660b22.7fcb74"
			]
		]
	},
	{
		"id": "69a3441b.519edc",
		"type": "mqtt in",
		"z": "d7cff51f.3b5e88",
		"name": "",
		"topic": "livingroom/kodi/captioningOn/set",
		"qos": "2",
		"datatype": "auto",
		"broker": "887f143b.dd5858",
		"x": 270,
		"y": 934,
		"wires": [
			[
				"33f3c4ad.b2dd4c"
			]
		]
	},
	{
		"id": "c23daf9.24d185",
		"type": "mqtt in",
		"z": "d7cff51f.3b5e88",
		"name": "",
		"topic": "livingroom/kodi/captioningOff/set",
		"qos": "2",
		"datatype": "auto",
		"broker": "887f143b.dd5858",
		"x": 270,
		"y": 974,
		"wires": [
			[
				"b42a0718.3fe338"
			]
		]
	},
	{
		"id": "33f3c4ad.b2dd4c",
		"type": "template",
		"z": "d7cff51f.3b5e88",
		"name": "",
		"field": "payload",
		"fieldType": "msg",
		"format": "json",
		"syntax": "mustache",
		"template": "{\n    \"cmd\": \"Player.GoTo\",\n    \"args\" :{\n        \"playerid\": 1,\n        \"subtitle\": \"on\"\n    }\n}\n\n",
		"output": "str",
		"x": 560,
		"y": 934,
		"wires": [
			[
				"d9c18053.b05c"
			]
		]
	},
	{
		"id": "b42a0718.3fe338",
		"type": "template",
		"z": "d7cff51f.3b5e88",
		"name": "",
		"field": "payload",
		"fieldType": "msg",
		"format": "json",
		"syntax": "mustache",
		"template": "{\n    \"cmd\": \"Player.GoTo\",\n    \"args\" :{\n        \"playerid\": 1,\n        \"subtitle\": \"off\"\n    }\n}\n\n",
		"output": "str",
		"x": 560,
		"y": 974,
		"wires": [
			[
				"d9c18053.b05c"
			]
		]
	},
	{
		"id": "85b03005.4db0c",
		"type": "mqtt in",
		"z": "d7cff51f.3b5e88",
		"name": "",
		"topic": "livingroom/kodi/relativeChannel/set",
		"qos": "2",
		"datatype": "auto",
		"broker": "887f143b.dd5858",
		"x": 280,
		"y": 1254,
		"wires": [
			[
				"6bbc8deb.5e4454"
			]
		]
	},
	{
		"id": "490020f1.eb1df",
		"type": "mqtt in",
		"z": "d7cff51f.3b5e88",
		"name": "",
		"topic": "livingroom/kodi/returnChannel/set",
		"qos": "2",
		"datatype": "auto",
		"broker": "887f143b.dd5858",
		"x": 270,
		"y": 1214,
		"wires": [
			[
				"d7d9e236.fb4f3"
			]
		]
	},
	{
		"id": "d7d9e236.fb4f3",
		"type": "change",
		"z": "d7cff51f.3b5e88",
		"name": "",
		"rules": [
			{
				"t": "set",
				"p": "payload",
				"pt": "msg",
				"to": "returnChannel",
				"tot": "flow"
			}
		],
		"action": "",
		"property": "",
		"from": "",
		"to": "",
		"reg": false,
		"x": 540,
		"y": 1214,
		"wires": [
			[
				"1b1d11d8.4f449e"
			]
		]
	},
	{
		"id": "6bbc8deb.5e4454",
		"type": "function",
		"z": "d7cff51f.3b5e88",
		"name": "",
		"func": "msg.payload = Number(msg.payload);\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"initialize": "",
		"finalize": "",
		"x": 520,
		"y": 1254,
		"wires": [
			[
				"6b8989b0.6de728"
			]
		]
	},
	{
		"id": "6b8989b0.6de728",
		"type": "change",
		"z": "d7cff51f.3b5e88",
		"name": "",
		"rules": [
			{
				"t": "set",
				"p": "payload",
				"pt": "msg",
				"to": "$flowContext(\"currentChannel\") + msg.payload",
				"tot": "jsonata"
			}
		],
		"action": "",
		"property": "",
		"from": "",
		"to": "",
		"reg": false,
		"x": 700,
		"y": 1254,
		"wires": [
			[
				"1b1d11d8.4f449e"
			]
		]
	},
	{
		"id": "1c21c04.ec6e64",
		"type": "template",
		"z": "d7cff51f.3b5e88",
		"name": "Volume",
		"field": "payload",
		"fieldType": "msg",
		"format": "handlebars",
		"syntax": "mustache",
		"template": "{\n\t\"cmd\": \"Application.SetVolume\",\n\t\"id\":1,\n\t\"params\":\n\t{\n\t\t\"volume\":{{payload}}\n\t}\n}",
		"output": "str",
		"x": 880,
		"y": 1060,
		"wires": [
			[
				"d9c18053.b05c",
				"df075417.170488"
			]
		]
	},
	{
		"id": "d2dba171.4d285",
		"type": "mqtt in",
		"z": "d7cff51f.3b5e88",
		"name": "",
		"topic": "livingroom/kodi/volume/set",
		"qos": "2",
		"datatype": "auto",
		"broker": "887f143b.dd5858",
		"x": 250,
		"y": 1060,
		"wires": [
			[
				"8e1f54d3.765238"
			]
		]
	},
	{
		"id": "2c000bff.07be54",
		"type": "mqtt in",
		"z": "d7cff51f.3b5e88",
		"name": "",
		"topic": "livingroom/kodi/mute/set",
		"qos": "2",
		"datatype": "auto",
		"broker": "887f143b.dd5858",
		"x": 250,
		"y": 1020,
		"wires": [
			[
				"ece67024.8e652"
			]
		]
	},
	{
		"id": "ece67024.8e652",
		"type": "template",
		"z": "d7cff51f.3b5e88",
		"name": "Mute",
		"field": "payload",
		"fieldType": "msg",
		"format": "json",
		"syntax": "mustache",
		"template": "{\n\t\"cmd\": \"Application.SetMute\",\n\t\"params\": {\n\t\t\"mute\": \"toggle\"\n\t},\n\t\"id\": 1\n}",
		"output": "str",
		"x": 570,
		"y": 1020,
		"wires": [
			[
				"d9c18053.b05c"
			]
		]
	},
	{
		"id": "389a4bf1.c00674",
		"type": "mqtt in",
		"z": "d7cff51f.3b5e88",
		"name": "",
		"topic": "livingroom/kodi/relativeVolume/set",
		"qos": "2",
		"datatype": "auto",
		"broker": "887f143b.dd5858",
		"x": 278,
		"y": 1106,
		"wires": [
			[
				"83802f9.175aad"
			]
		]
	},
	{
		"id": "df075417.170488",
		"type": "change",
		"z": "d7cff51f.3b5e88",
		"name": "",
		"rules": [
			{
				"t": "set",
				"p": "volume",
				"pt": "flow",
				"to": "payload",
				"tot": "msg"
			}
		],
		"action": "",
		"property": "",
		"from": "",
		"to": "",
		"reg": false,
		"x": 1080,
		"y": 1060,
		"wires": [
			[]
		]
	},
	{
		"id": "8e1f54d3.765238",
		"type": "change",
		"z": "d7cff51f.3b5e88",
		"name": "",
		"rules": [
			{
				"t": "set",
				"p": "payload",
				"pt": "msg",
				"to": "$number(payload)",
				"tot": "jsonata"
			}
		],
		"action": "",
		"property": "",
		"from": "",
		"to": "",
		"reg": false,
		"x": 540,
		"y": 1060,
		"wires": [
			[
				"1c21c04.ec6e64"
			]
		]
	},
	{
		"id": "fa28a556.66f1c8",
		"type": "change",
		"z": "d7cff51f.3b5e88",
		"name": "",
		"rules": [
			{
				"t": "set",
				"p": "payload",
				"pt": "msg",
				"to": "$flowContext(\"volume\") + msg.payload",
				"tot": "jsonata"
			}
		],
		"action": "",
		"property": "",
		"from": "",
		"to": "",
		"reg": false,
		"x": 680,
		"y": 1106,
		"wires": [
			[
				"1c21c04.ec6e64"
			]
		]
	},
	{
		"id": "83802f9.175aad",
		"type": "function",
		"z": "d7cff51f.3b5e88",
		"name": "",
		"func": "msg.payload = Number(msg.payload);\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"initialize": "",
		"finalize": "",
		"x": 518,
		"y": 1106,
		"wires": [
			[
				"fa28a556.66f1c8"
			]
		]
	},
	{
		"id": "3e6f7399.c0eafc",
		"type": "mqtt out",
		"z": "d7cff51f.3b5e88",
		"name": "",
		"topic": "livingroom/kodi/power",
		"qos": "",
		"retain": "true",
		"broker": "887f143b.dd5858",
		"x": 880,
		"y": 60,
		"wires": []
	},
	{
		"id": "8603b161.23b29",
		"type": "mqtt in",
		"z": "d7cff51f.3b5e88",
		"name": "",
		"topic": "livingroom/kodi/power/set",
		"qos": "2",
		"datatype": "auto",
		"broker": "887f143b.dd5858",
		"x": 290,
		"y": 60,
		"wires": [
			[]
		]
	},
	{
		"id": "26c7e53e.302fba",
		"type": "mqtt out",
		"z": "d7cff51f.3b5e88",
		"name": "",
		"topic": "livingroom/kodi/input",
		"qos": "",
		"retain": "true",
		"broker": "887f143b.dd5858",
		"x": 880,
		"y": 100,
		"wires": []
	},
	{
		"id": "5af755f5.0bac2c",
		"type": "mqtt in",
		"z": "d7cff51f.3b5e88",
		"name": "",
		"topic": "livingroom/kodi/input/set",
		"qos": "2",
		"datatype": "auto",
		"broker": "887f143b.dd5858",
		"x": 280,
		"y": 100,
		"wires": [
			[]
		]
	},
	{
		"id": "b1bd3f9b.69a57",
		"type": "comment",
		"z": "d7cff51f.3b5e88",
		"name": "Insert here",
		"info": "",
		"x": 600,
		"y": 80,
		"wires": []
	},
	{
		"id": "3d3bfabe.b08ca6",
		"type": "inject",
		"z": "d7cff51f.3b5e88",
		"name": "Click here",
		"props": [
			{
				"p": "payload"
			},
			{
				"p": "topic",
				"vt": "str"
			}
		],
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"topic": "",
		"payload": "",
		"payloadType": "date",
		"x": 180,
		"y": 1440,
		"wires": [
			[
				"db35c5e6.7d8878"
			]
		]
	},
	{
		"id": "db35c5e6.7d8878",
		"type": "function",
		"z": "d7cff51f.3b5e88",
		"name": "Channels",
		"func": "var device;\nvar payload;\ndevice = \"http://192.168.1.105:8080/jsonrpc?request=\";\npayload = '{\"jsonrpc\": \"2.0\", \"method\": \"PVR.GetChannels\", \"params\": {\"channelgroupid\": \"alltv\", \"properties\" :[\"uniqueid\"]},\"id\": 1}'\nmsg.url = device;\nmsg.headers={};\nmsg.payload = payload;\nmsg.method = \"POST\";\nreturn msg;\n\n\n\n\n\n",
		"outputs": 1,
		"noerr": 0,
		"initialize": "",
		"finalize": "",
		"x": 320,
		"y": 1440,
		"wires": [
			[
				"3876a53b.b8d83a"
			]
		]
	},
	{
		"id": "7e3b9530.ed771c",
		"type": "json",
		"z": "d7cff51f.3b5e88",
		"name": "",
		"property": "payload",
		"action": "",
		"pretty": false,
		"x": 612,
		"y": 1440,
		"wires": [
			[
				"6620dd19.49d724"
			]
		]
	},
	{
		"id": "3876a53b.b8d83a",
		"type": "http request",
		"z": "d7cff51f.3b5e88",
		"name": "",
		"method": "use",
		"ret": "txt",
		"paytoqs": "ignore",
		"url": "",
		"tls": "",
		"persist": false,
		"proxy": "",
		"authType": "",
		"x": 470,
		"y": 1440,
		"wires": [
			[
				"7e3b9530.ed771c"
			]
		]
	},
	{
		"id": "d201f128.c7c22",
		"type": "template",
		"z": "d7cff51f.3b5e88",
		"name": "",
		"field": "payload",
		"fieldType": "msg",
		"format": "handlebars",
		"syntax": "mustache",
		"template": "    {\n      \"key\": \"{{payload.uniqueid}}\",\n      \"names\": [\n        \"{{payload.label}}\"\n      ],\n      \"number\": \"{{payload.channelid}}\"\n    }",
		"output": "json",
		"x": 870,
		"y": 1440,
		"wires": [
			[
				"5e2bbdd4.b76c14"
			]
		]
	},
	{
		"id": "6620dd19.49d724",
		"type": "splitter",
		"z": "d7cff51f.3b5e88",
		"name": "",
		"property": "payload.result.channels",
		"x": 735,
		"y": 1440,
		"wires": [
			[
				"d201f128.c7c22"
			]
		]
	},
	{
		"id": "5e2bbdd4.b76c14",
		"type": "join",
		"z": "d7cff51f.3b5e88",
		"name": "",
		"mode": "custom",
		"build": "array",
		"property": "payload",
		"propertyType": "msg",
		"key": "topic",
		"joiner": "\\n",
		"joinerType": "str",
		"accumulate": false,
		"timeout": "5",
		"count": "",
		"reduceRight": false,
		"reduceExp": "",
		"reduceInit": "",
		"reduceInitType": "",
		"reduceFixup": "",
		"x": 1002,
		"y": 1440,
		"wires": [
			[
				"deb9545e.647b28"
			]
		]
	},
	{
		"id": "afb30b2f.c13cd8",
		"type": "file",
		"z": "d7cff51f.3b5e88",
		"name": "",
		"filename": "channels.json",
		"appendNewline": false,
		"createDir": false,
		"overwriteFile": "true",
		"encoding": "ascii",
		"x": 1356,
		"y": 1440,
		"wires": [
			[]
		]
	},
	{
		"id": "deb9545e.647b28",
		"type": "change",
		"z": "d7cff51f.3b5e88",
		"name": "",
		"rules": [
			{
				"t": "move",
				"p": "payload",
				"pt": "msg",
				"to": "payload.availableChannels",
				"tot": "msg"
			}
		],
		"action": "",
		"property": "",
		"from": "",
		"to": "",
		"reg": false,
		"x": 1164,
		"y": 1440,
		"wires": [
			[
				"afb30b2f.c13cd8"
			]
		]
	},
	{
		"id": "b774da3d.4d57f8",
		"type": "kodi-controller",
		"z": "",
		"name": "Living room Kodi",
		"host": "192.168.1.105",
		"port": "9090"
	},
	{
		"id": "887f143b.dd5858",
		"type": "mqtt-broker",
		"z": "",
		"name": "MQTT",
		"broker": "192.168.1.104",
		"port": "1883",
		"clientid": "",
		"usetls": false,
		"compatmode": false,
		"keepalive": "60",
		"cleansession": true,
		"birthTopic": "",
		"birthQos": "0",
		"birthPayload": "",
		"closeTopic": "",
		"closeQos": "0",
		"closePayload": "",
		"willTopic": "",
		"willQos": "0",
		"willPayload": ""
	}
]