kodi/nodered.json
[{"id":"c5e0712d.20af","type":"mqtt in","z":"6b0d241c.c6415c","name":"","topic":"livingroom/kodi/app/set","qos":"2","datatype":"auto","broker":"887f143b.dd5858","x":220,"y":580,"wires":[["765f0929.496ba8"]]},{"id":"d1103e01.5ab58","type":"mqtt in","z":"6b0d241c.c6415c","name":"","topic":"livingroom/kodi/mediaNext/set","qos":"2","datatype":"auto","broker":"887f143b.dd5858","x":240,"y":620,"wires":[["bd846d71.e4bca"]]},{"id":"836bbd36.debc3","type":"mqtt in","z":"6b0d241c.c6415c","name":"","topic":"livingroom/kodi/mediaPause/set","qos":"2","datatype":"auto","broker":"887f143b.dd5858","x":250,"y":660,"wires":[["161b4aab.8717b5"]]},{"id":"700ed028.8a2a9","type":"mqtt in","z":"6b0d241c.c6415c","name":"","topic":"livingroom/kodi/mediaPrevious/set","qos":"2","datatype":"auto","broker":"887f143b.dd5858","x":260,"y":700,"wires":[["e5a42d2f.fbe33"]]},{"id":"3a320df8.9592e2","type":"mqtt in","z":"6b0d241c.c6415c","name":"","topic":"livingroom/kodi/mediaResume/set","qos":"2","datatype":"auto","broker":"887f143b.dd5858","x":250,"y":740,"wires":[["f9522cd3.2bd0f"]]},{"id":"1e43f577.e5090b","type":"mqtt in","z":"6b0d241c.c6415c","name":"","topic":"livingroom/kodi/mediaStop/set","qos":"2","datatype":"auto","broker":"887f143b.dd5858","x":240,"y":780,"wires":[["165660e5.eefc1f"]]},{"id":"5f1ea0a8.c9f4b","type":"template","z":"6b0d241c.c6415c","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n\t\"cmd\": \"GUI.ActivateWindow\",\n\t\"args\": {\n\t\t\t\"window\": \"videos\",\n\t\t\t\"parameters\": [\n\t\t\t\t\"{{{payload}}}\"\n\t\t\t]\n\n\t}\n}","output":"json","x":540,"y":580,"wires":[["646b620a.7c58fc"]]},{"id":"765f0929.496ba8","type":"change","z":"6b0d241c.c6415c","name":"Set app","rules":[{"t":"change","p":"payload","pt":"msg","from":"youtube","fromt":"str","to":"plugin://plugin.video.youtube","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"movie","fromt":"str","to":"plugin://plugin.video.openmeta/movies","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"tv","fromt":"str","to":"plugin://plugin.video.openmeta/tv","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":580,"wires":[["5f1ea0a8.c9f4b"]]},{"id":"9d42e281.68abd","type":"mqtt in","z":"6b0d241c.c6415c","name":"","topic":"livingroom/kodi/channel/set","qos":"2","datatype":"auto","broker":"887f143b.dd5858","x":230,"y":540,"wires":[["61d16dfc.3f92d4"]]},{"id":"61d16dfc.3f92d4","type":"template","z":"6b0d241c.c6415c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\t\"cmd\": \"Player.Open\",\n\t\"args\": {\n\t\t\"item\": {\n\t\t\t\"channelid\": {{payload}}\n\t\t}\n\t}\n}","output":"json","x":540,"y":540,"wires":[["646b620a.7c58fc"]]},{"id":"165660e5.eefc1f","type":"template","z":"6b0d241c.c6415c","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"cmd\": \"Player.Stop\",\n    \"args\" :{\n        \"playerid\": 1\n    }\n}","output":"str","x":540,"y":780,"wires":[["646b620a.7c58fc"]]},{"id":"646b620a.7c58fc","type":"kodi-out","z":"6b0d241c.c6415c","name":"","controller":"b774da3d.4d57f8","unit_number":"1","output":"1","kodicommand":"","x":770,"y":700,"wires":[]},{"id":"161b4aab.8717b5","type":"template","z":"6b0d241c.c6415c","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"cmd\": \"Player.PlayPause\",\n    \"args\" :{\n        \"playerid\": 1\n    }\n}","output":"str","x":540,"y":660,"wires":[["646b620a.7c58fc"]]},{"id":"f9522cd3.2bd0f","type":"template","z":"6b0d241c.c6415c","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"cmd\": \"Player.PlayPause\",\n    \"args\" :{\n        \"playerid\": 1\n    }\n}","output":"str","x":540,"y":740,"wires":[["646b620a.7c58fc"]]},{"id":"bd846d71.e4bca","type":"template","z":"6b0d241c.c6415c","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"cmd\": \"Player.GoTo\",\n    \"args\" :{\n        \"playerid\": 1,\n        \"to\": \"next\"\n    }\n}","output":"str","x":540,"y":620,"wires":[["646b620a.7c58fc"]]},{"id":"e5a42d2f.fbe33","type":"template","z":"6b0d241c.c6415c","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"cmd\": \"Player.GoTo\",\n    \"args\" :{\n        \"playerid\": 1,\n        \"to\": \"previous\"\n    }\n}","output":"str","x":540,"y":700,"wires":[["646b620a.7c58fc"]]},{"id":"b0b8dc87.59a68","type":"template","z":"6b0d241c.c6415c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\t\"cmd\": \"Player.Seek\",\n\t\"args\": {\n\t\t\"playerid\": 1,\n\t\t\"value\": {\n\t\t\t\"milliseconds\": {{payload}}\n\t\t}\n\t}\n}","output":"json","x":540,"y":820,"wires":[["646b620a.7c58fc"]]},{"id":"800f8e4.aa08b7","type":"mqtt in","z":"6b0d241c.c6415c","name":"","topic":"livingroom/kodi/absPositionMs/set","qos":"2","datatype":"auto","broker":"887f143b.dd5858","x":260,"y":820,"wires":[["b0b8dc87.59a68"]]},{"id":"71f3845c.94968c","type":"mqtt in","z":"6b0d241c.c6415c","name":"","topic":"livingroom/kodi/captioningOn/set","qos":"2","datatype":"auto","broker":"887f143b.dd5858","x":250,"y":860,"wires":[["b09c2950.6a43d8"]]},{"id":"543e18b3.131318","type":"mqtt in","z":"6b0d241c.c6415c","name":"","topic":"livingroom/kodi/captioningOff/set","qos":"2","datatype":"auto","broker":"887f143b.dd5858","x":250,"y":900,"wires":[["b9a83b66.bf4498"]]},{"id":"b09c2950.6a43d8","type":"template","z":"6b0d241c.c6415c","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"cmd\": \"Player.GoTo\",\n    \"args\" :{\n        \"playerid\": 1,\n        \"subtitle\": \"on\"\n    }\n}\n\n","output":"str","x":540,"y":860,"wires":[["646b620a.7c58fc"]]},{"id":"b9a83b66.bf4498","type":"template","z":"6b0d241c.c6415c","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"cmd\": \"Player.GoTo\",\n    \"args\" :{\n        \"playerid\": 1,\n        \"subtitle\": \"off\"\n    }\n}\n\n","output":"str","x":540,"y":900,"wires":[["646b620a.7c58fc"]]},{"id":"85433009.ca9a6","type":"kodi-in","z":"6b0d241c.c6415c","name":"","controller":"b774da3d.4d57f8","x":170,"y":380,"wires":[["ab693945.3b12b8","757f6c66.a0f194","c4733c.dd40fcc8"]]},{"id":"ab693945.3b12b8","type":"switch","z":"6b0d241c.c6415c","name":"","property":"payload.notification","propertyType":"msg","rules":[{"t":"eq","v":"Player.OnPlay","vt":"str"},{"t":"eq","v":"Player.OnPause","vt":"str"},{"t":"eq","v":"Player.OnResume","vt":"str"},{"t":"eq","v":"Player.OnStop","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":330,"y":300,"wires":[["82b582ff.e8b23"],["82b582ff.e8b23"],["1c9e7195.65dbae"],["546aa502.180bdc"],[]]},{"id":"566976f1.306788","type":"mqtt out","z":"6b0d241c.c6415c","name":"","topic":"livingroom/kodi/playbackState","qos":"","retain":"true","broker":"887f143b.dd5858","x":810,"y":260,"wires":[]},{"id":"82b582ff.e8b23","type":"template","z":"6b0d241c.c6415c","name":"","field":"payload","fieldType":"msg","format":"text","syntax":"mustache","template":"\"PAUSED\"\n\n\n","output":"json","x":540,"y":220,"wires":[["566976f1.306788"]]},{"id":"546aa502.180bdc","type":"template","z":"6b0d241c.c6415c","name":"","field":"payload","fieldType":"msg","format":"text","syntax":"mustache","template":"\"STOPPED\"","output":"json","x":540,"y":300,"wires":[["566976f1.306788"]]},{"id":"1c9e7195.65dbae","type":"template","z":"6b0d241c.c6415c","name":"","field":"payload","fieldType":"msg","format":"text","syntax":"mustache","template":"\"PLAYING\"","output":"json","x":540,"y":260,"wires":[["566976f1.306788"]]},{"id":"1bf582a6.e6ef0d","type":"mqtt out","z":"6b0d241c.c6415c","name":"","topic":"livingroom/kodi/activityState","qos":"","retain":"true","broker":"887f143b.dd5858","x":800,"y":440,"wires":[]},{"id":"f23bafea.ae832","type":"template","z":"6b0d241c.c6415c","name":"","field":"payload","fieldType":"msg","format":"text","syntax":"mustache","template":"\"ACTIVE\"","output":"json","x":540,"y":420,"wires":[["1bf582a6.e6ef0d"]]},{"id":"ae202490.2eda08","type":"template","z":"6b0d241c.c6415c","name":"","field":"payload","fieldType":"msg","format":"text","syntax":"mustache","template":"\"INACTIVE\"","output":"json","x":540,"y":500,"wires":[["1bf582a6.e6ef0d"]]},{"id":"e8545368.b798","type":"template","z":"6b0d241c.c6415c","name":"","field":"payload","fieldType":"msg","format":"text","syntax":"mustache","template":"\"STANDBY\"","output":"json","x":540,"y":460,"wires":[["1bf582a6.e6ef0d"]]},{"id":"757f6c66.a0f194","type":"switch","z":"6b0d241c.c6415c","name":"","property":"payload.notification","propertyType":"msg","rules":[{"t":"eq","v":"Player.OnPlay","vt":"str"},{"t":"eq","v":"Player.OnResume","vt":"str"},{"t":"eq","v":"Player.OnPause","vt":"str"},{"t":"eq","v":"Player.OnStop","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":330,"y":460,"wires":[["f23bafea.ae832"],["f23bafea.ae832"],["e8545368.b798"],["ae202490.2eda08"]]},{"id":"c4733c.dd40fcc8","type":"switch","z":"6b0d241c.c6415c","name":"","property":"payload.data.data.player.speed","propertyType":"msg","rules":[{"t":"gt","v":"1","vt":"num"},{"t":"lt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":380,"wires":[["952b71c1.8b7d1"],["e1843ae8.f56148"]]},{"id":"952b71c1.8b7d1","type":"template","z":"6b0d241c.c6415c","name":"","field":"payload","fieldType":"msg","format":"text","syntax":"mustache","template":"\"FAST_FORWARDING\"","output":"json","x":540,"y":340,"wires":[["566976f1.306788"]]},{"id":"e1843ae8.f56148","type":"template","z":"6b0d241c.c6415c","name":"","field":"payload","fieldType":"msg","format":"text","syntax":"mustache","template":"\"REWINDING\"","output":"json","x":540,"y":380,"wires":[["566976f1.306788"]]},{"id":"887f143b.dd5858","type":"mqtt-broker","z":"","name":"MQTT","broker":"192.168.1.104","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b774da3d.4d57f8","type":"kodi-controller","z":"","name":"Living room Kodi","host":"192.168.1.105","port":"9090"}]